.App {
  text-align: center;
  padding: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.container {
  display: flex;
  background-color: bisque;
}

textarea {
  width: 100%;
  height: 500px;
  resize: none;
}

.input, .output {
  width: 50%;
  padding: 10px;
  height: 500px;
}

.output {
  border: lightgray solid 1px;
  background-color: aquamarine;
}

footer {
  padding: 5%;
  background-color:#222;
  color: whitesmoke;
}

.fa-github {
  color: whitesmoke;
}

.fa-github:hover {
  color: rgb(85, 26, 139);
}

.github-profile-link {
  text-decoration-line: none;
  font-weight: bold;
}